data_ingestion/cold_paths/administrative_shapefiles/
data_ingestion/warm_paths/environmental_indicators/
data_ingestion/warm_paths/passenger_volume/
storage/delta/raw/administrative_shapefiles/
storage/delta/raw/environmental_indicators/
storage/delta/raw/passenger_volume/